<fa-modifier fa-rotate="getRotate($index)" fa-size="[320, 400]" fa-align="[.5, .5]">
  <fa-modifier fa-origin="[.5, .5]" fa-translate="[-160, -160, 160]">
    <fa-cuboid fa-dimensions="[320, 320, 320]">
      <fa-surface fa-index="0" fa-size="[320, 320]" fa-background-color="'#333'" fa-pipe-to="handlers">
        <div style="width: 320px; height: 320px; overflow: hidden;">
          <img style="width: 320px;" ng-src="{{photo}}"/>
        </div>
      </fa-surface>
      <fa-surface fa-size="[320, 320]" fa-background-color="color" ng-repeat="color in colors" fa-pipe-to="handlers">
        <!-- Cover top, bottom, back faces -->
        <div ng-if="$index % 2 !== 0" style="width: 320px; height: 320px; overflow: hidden;">
          <img style="width: 320px;" ng-src="{{photo}}"/>
        </div>
      </fa-surface>
    </fa-cuboid>
  </fa-modifier>
</fa-modifier>