<fa-modifier fa-rotate="getRotate()" fa-scale="getScale()" fa-size="[320, 320]" fa-align="[.5, .5]" fa-transform-order="['rotate','scale']">
  <fa-modifier fa-origin="[.5, .5]" fa-translate="[-160, -160, 160]">
    <fa-cuboid fa-dimensions="[320, 320, 320]">
      <fa-surface fa-index="0" fa-size="[320, 320]" fa-background-color="'#333'" fa-pipe-to="handlers">
        <photo-fit dimensions="[320, 320]" url="photo"></photo-fit>
      </fa-surface>
      <fa-surface fa-size="[320, 320]" fa-background-color="color" ng-repeat="color in colors" fa-pipe-to="handlers">
        <!-- Cover top, bottom, back faces -->
        <photo-fit ng-if="$index % 2 !== 0" dimensions="[320, 320]" url="photo"></photo-fit>
      </fa-surface>
    </fa-cuboid>
  </fa-modifier>
</fa-modifier>